.center-text {
  text-align: center;
  font-size: 1.2vw;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block-text2 {
  font-size: 3vw;
  width: 100%;
  /*height: 100vw;*/
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  margin-bottom: 1em;
  line-height: 120%;
  z-index: -5;
}

.practiceText {
  width: 85vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#practice2{
  transform: translate(-50%, 0%);
}


.loading {
  height: auto;
  width: 10vw;
  position: absolute;
  left: 5%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  z-index: 1;
  opacity: 0.75;
  transition: all ease 0.5s;
}

.loading.hidden{

 opacity: 0;
 z-index: -1;
}

.cardbox {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-38%, 0%);
  background-color: white;
}

.cct-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-right: 0%;
  /*transform: translate(7%, 2.5%);*/
}

.cct-box2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-right: 0%;
  /*transform: translate(7%, 2.5%);*/
}


.botoncillo{
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
}

.titleBigBox {
  width: 100vw;
  height: 10vw;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-right: 0%;
  transform: translate(0%, 0%);
  background-color: white;
}

.square {
  float: left;
  position: absolute;
  width: 8%;
  height: 9vw;
  padding-bottom: 0%; /* = width for a 1:1 aspect ratio */
  margin: 1%;
  overflow: hidden;
  color: #fff;

  display: inline-block;
  background: transparent;
  perspective: 1000px;

  transition: all 300ms linear;
}

.card_image {
  position: absolute;
  height: 8.5vw;
  backface-visibility: hidden;
}

.square .back {
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  display: inline-block;

  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.square.flipped .flip-card {
  transform: rotateY(-180deg);
}

.square .flip-card#flip {
  transform: rotateY(-180deg);
}

/*

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;

}

.card-front{
background-color: blue;

}
*/

.cardpicture{
  position: relative;
  float: left;
  width: auto;
  height: inherit;
  z-index: 1;
}

.titleboxLeft {
  width: 15vw;
  height: 4vw;
  position: absolute;
  top: 2%;
  left: 0%;
  margin-right: -50%;
  transform: translate(0%, 0%);
  border-style: solid;
  border-color: rgb(117, 117, 117);
  border-radius: 30px;
  border-width: thin;
}

.titleboxLeft1 {
  width: 15vw;
  height: 4vw;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-right: -50%;
  transform: translate(0%, 0%);
  border-style: solid;
  border-color: rgb(117, 117, 117);
  border-radius: 30px;
  border-width: thin;
}

.titleboxRight {
  width: 15vw;
  height: 4vw;
  position: absolute;
  top: 2%;
  right: 0%;
  margin-right: 0%;
  transform: translate(0%, 0%);
  border-style: solid;
  border-color: rgb(117, 117, 117);
  border-radius: 30px;
  border-width: thin;
}

.titleboxRight1 {
  width: 15vw;
  height: 4vw;
  position: absolute;
  top: 50%;
  right: 00%;
  margin-right: -00%;
  transform: translate(0%, 0%);
  border-style: solid;
  border-color: rgb(117, 117, 117);
  border-radius: 30px;
  border-width: thin;
  
}

.titlebox {
  width: 30vw;
  height: 3vw;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

.titleboxMiddle1 {
  width: 15vw;
  height: 2vw;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  border-style: solid;
  border-color: rgb(117, 117, 117);
  border-radius: 30px;
  border-width: thin;
}

.buttonbox {
  width: 60vw;
  height: 2vw;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  border-style: solid;
  border-color: white;
  
}

.buttonbox2 {
  width: 12vw;
  height: 5vw;
  position: absolute;
  bottom: 0%;
  right:0%;
  
 
  border-style: solid;
  border-color: white;
}

.CCT-btn {
  font-size: 1.3vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 2px;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 100%;
  width: 32%;
}



.CCT-btn:hover {
  border-color: #999;
  background-color: darkblue;
}

.CCT-btn:disabled {
  background-color: #8ea0c2;
}

#instructButton {
  width: 100%;
}

.grid > * {
  padding: 10px;
}

.rg_item {
  border: 1px solid #555;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 6px 0 black;
}

.rg_item-img {
  height: auto;
  width: 100%;
  height: 100px;
}

.rg_item-content {
  padding: 10px;
}
